* {
    box-sizing: border-box;
}

body {
    color: rgb(230, 14, 198);
    background-color: #ffd4f4;
    font-family: cursive;
}

/* HEADER */
header {
    color: #3ac64f;
    background-color: #3815fa;
}

/* MENÜ */
nav {
    width: 90%;
    margin: 15px auto;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: linear-gradient(
        90deg,
        #5b18e8,
        #c516c9,
        #f05bc5
    );

    border-radius: 15px;

    box-shadow: 0 5px 18px rgba(80, 0, 120, 0.4);
}

/* MENÜPUNKTE */
nav a {
    color: white;
    text-decoration: none;

    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;

    padding: 10px 20px;

    border-radius: 9px;

    transition: 0.3s;
}

/* MOUSE-OVER */
nav a:hover {
    background-color: rgba(255, 255, 255, 0.25);

    transform: translateY(-3px);

    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

/* FOOTER */
footer {
    color: rgb(14, 255, 90);
    background-color: #9382f2;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}