body{
   color: rgb(230, 14, 198);
   background-color: #ffd4f4;
   font-style: oblique;
}
footer{
   color: blue;
   background-color: #b1fcbd;
}
header{ 
   color: #3ac64f;
   background-color: #b1fcbd;
}
nav{
   background-color: #b1fcbd;
}